
@{
    ViewBag.Title = "Leaders";
    Layout = "~/Views/Shared/_LayoutZonaUsu.cshtml";
}
<style>
    .redondo img {
        border: 2px solid #fff;
        margin: 0;
        padding: 0;
        border-radius: 800px;
        overflow: hidden;
    }
</style>
<h2>Leaders</h2>
<table>
    <tr>
        <td rowspan="2" style="width:30%; border-right:1px solid grey; border-left:1px solid grey">
            <img src="~/Content/Imagenes/leader.PNG" class="center" style="width:320px; height:320px" />
            <h3 style="text-align:center">Community Spotlight</h3>
            <p style="text-align:center">Take some yoga, throw in a little cardio and mix with weight training and you've got Omyeah, Fitocracy's self professed spiritual gansta. A leader in our Yogis and Yoginis group, Omyeah is one strong, zen lovin', awesome cat momma. Connect with her and other Fito Yoginis in our Lady Lifters group.</p>
        </td>
        <td style="width:70%; border-right:1px solid grey; vertical-align:top">
            <table id="tablaLeaders" class="table center" style="text-align:center; width:100%; height:100%; vertical-align:top">
                <tr style="background-color:#f4f5f5">
                    <th style="text-align:center">
                        Standing
                    </th>
                    <th style="text-align:center">
                        Name
                    </th>
                    <th style="text-align:center">
                        Level
                    </th>
                    <th style="text-align:center">
                        Points
                    </th>
                </tr>
                @{
                    var listadoLeaders = (List<FITOCRACY.Models.Usuarios>)ViewData["listadoLeaders"];
                    for (int i = 0; i < listadoLeaders.Count(); i++)
                    {
                        <tr>
                            <td>
                                @{
                                    int pos = i + 1;
                                }
                                <p style="color:#1F2B32; font-size:medium; float:left; font-size:30px; vertical-align:central">@pos</p>
                            </td>
                            <td>
                                <img src='@Url.Action("show", "Image", new { id = listadoLeaders[i].Id_Usuario})' style="margin:0; padding:0; border:0; outline:0; height:100px; width:100px" />
                                <p style="font-size:medium; display:inline-block">@listadoLeaders[i].Username</p>
                            </td>
                            <td>
                                <p style="font-size:medium;">@listadoLeaders[i].Level</p>
                            </td>
                            <td>
                                <p style="font-size:medium;">@listadoLeaders[i].Points</p>
                            </td>
                        </tr>
                    }

                }
            </table>
        </td>
    </tr>
</table>

