@model FITOCRACY.ViewModels.EntrenamientosViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    FITOCRACY.Models.Usuarios usuario = (FITOCRACY.Models.Usuarios)(Session["usuario"]);
}
<style>
    .redondo img {
        border: 2px solid #fff;
        margin: 0;
        padding: 0;
        border-radius: 800px;
        overflow: hidden;
    }
</style>

<div class="redondo" style="display:inline-block; color:#fff; vertical-align:top; text-align:left; padding:10px">
    <img src='@Url.Action("showEntrenador", "Image", new { id = Model.entrenamientos.Id_Entrenador})' height="70" width="70" />
</div>
<h2>Hey, <span style="color:#0079FF;">@usuario.Username</span></h2>
<hr />

<div id="mySumary" class="text-danger text-center"><ul style="text-align:left"></ul></div>

@using (Html.BeginForm("Inicio", "Compra", new { @idEnt = Model.entrenamientos.Id_Entrenamiento }, FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" , @id="sumary"})
    @Html.AntiForgeryToken()

    <div class="container input-group text-center">
        <label style="float:left">Card Number</label>
        <br />
        @Html.EditorFor(model => model.usuTarjeta.cardNumber, new { htmlAttributes = new { @id = "textCardNumber", @class = "form-control", @placeholder = "**** **** **** ****", style = "width: 900px;" } })
    </div>
    <br />

    <div class="container input-group text-center">
        <label style="float:left">Security Code</label>
        <br />
        @Html.EditorFor(model => model.usuTarjeta.securityCode, new { htmlAttributes = new { @id = "textSecurityCode", @class = "form-control", @placeholder = "Enter security code", style = "width: 900px;" } })
    </div>
    <br />


    <div style="float:right; margin-right:40%">
        <table style="width:100%">
            <tr>
                <td>
                    <div class="container input-group text-center">
                        <div id="dropMeses" class="btn-group">
                            @Html.EditorFor(model => model.usuTarjeta.month, new { htmlAttributes = new { @id = "monthHidden", @class = "form -control", @type = "hidden" } })
                            <div id="btnMes" class="btn btn-default dropdown dropdown-toggle" data-toggle="dropdown" tabindex="3">
                                Expires Month
                                <span class="caret"></span>
                            </div>
                            <ul id="listMeses" class="dropdown-menu" role="menu" style="text-align:left">
                                <li><a tabindex="4" value="01">01 - January</a></li>
                                <li><a tabindex="5" value="02">02 - February</a></li>
                                <li><a tabindex="6" value="03">03 - March</a></li>
                                <li><a tabindex="7" value="04">04 - April</a></li>
                                <li><a tabindex="8" value="05">05 - May</a></li>
                                <li><a tabindex="9" value="06">06 - June</a></li>
                                <li><a tabindex="10" value="07">07 - July</a></li>
                                <li><a tabindex="11" value="08">08 - August</a></li>
                                <li><a tabindex="12" value="09">09 - September</a></li>
                                <li><a tabindex="13" value="10">10 - October</a></li>
                                <li><a tabindex="14" value="11">11 - November</a></li>
                                <li><a tabindex="15" value="12">12 - December</a></li>
                            </ul>
                        </div>
                    </div>
                    <script>

                        $('#dropMeses').on('click', function () {
                            $('#btnMes').dropdown('toggle');
                        });

                        $('.dropdown-menu li a').on('click', function () {
                            $(this).parents(".btn-group").find('.btn').html($(this).text() + " <span class=\"caret\"></span>");
                            $('#monthHidden').val($(this).text());
                        })
                    </script>
                </td>
                <td>
                    <div class="container input-group text-center">
                        <div id="dropYear" class="btn-group">
                            @Html.EditorFor(model => model.usuTarjeta.year, new { htmlAttributes = new { @id = "yearHidden", @class = "form -control", @type = "hidden" } })
                            <div id="btnYear" class="btn btn-default dropdown dropdown-toggle" data-toggle="dropdown">
                                Year
                                <span class="caret"></span>
                            </div>
                            <ul id="listMeses" class="dropdown-menu" role="menu" style="text-align:left">
                                @{
                                    DateTime moment = DateTime.Now;
                                    int yearAct = moment.Year;
                                    int yearMax = yearAct + 14;

                                    for (int i = yearAct; i < yearMax; i++)
                                    {
                                        <li><a value='@i'>@i </a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <script>
                        $('#dropYear').on('click', function () {
                            $('#btnYear').dropdown('toggle');
                        });

                        $('.dropdown-menu li a').on('click', function () {
                            $(this).parents(".btn-group").find('.btn').html($(this).text() + " <span class=\"caret\"></span>");
                            $('#yearHidden').val($(this).text());
                        })
                    </script>
                </td>
            </tr>
        </table>
    </div>
    <br /><br />

    <div class="container input-group text-center">
        <button id="btnEnviar" type="submit" class="btn btn-primary btn-lg btn-block" style="width:500px; height:50px">Join the Team</button>
    </div>
}
<script>
    $('#btnEnviar').on('click', function () {
        var mes = $('#monthHidden').val();
        var anyo = $('#yearHidden').val();

        if (mes == "") {
            $('#sumary').append('<li style="margin-left:40px;">Month Required</li>')
        }

        if (anyo == "") {
            $('#sumary').append('<li style="margin-left:40px;">Year Required</li>')
        }

        var d = new Date();
        var mesSystem = d.getMonth;
        
        if (mes < mesSystem) {
            $('#sumary').append('<li style="margin-left:40px;">Oh my God!! Your credit card has expired!!</li>')
        }
    });
</script>

